nav table{
    height: 29px;
    float: right;
    position: relative;
    border-spacing: 10px 5px;
    font-family: Arial;
    font-size: 10;
}
header h1{
    top: 54px;
    display:block;
    position: relative;
    color: #0000FF;
}
.Contenido section p{
    position: relative;
    display: block;
    top:198px;
    left: 195px;
    width: 672px;
    height: 71px;
}