/* Menu Principal */
.Menu_Principal{
    float: right;
    position: relative;
    border-spacing: 10px 5px;
    text-align: center;
    text-decoration:none;
    font-family: Arial;
    font-weight: bold;
    font-size: 10;
    color: #000000;
}
nav table{
    height: 29px;
    float: right;
    position: relative;
    border-spacing: 10px 5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 10;
    color: #000000;
}
/* Cabecera Principal */
header table{
    top: 39px;
    width: 100%;
}
header h1{
    display:block;
    text-align:center;
    position: relative;
    color: #0000FF;
}
#Tabla1{
    table-layout: fixed;
    background-color: #6EFECD;
    width: 740px;
    height: 122px;

}
#Titulo_tabla1{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
}
#Parrafo_tabla1{
    padding-left: 35px;
}
#Tabla2{
    width: 100%;
    top: 45px;
}
#Titulo_tabla2{
    display:block;
    text-align:center;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}
#Tabla3{
    table-layout: fixed;
    width: 850px;
    top: 105px;
}
#Tabla3 tr{
    padding-bottom: 15px;
}
#Tabla3 tr:nth-child(1){
    width: 425px;
}
#Tabla3 tr:nth-child(2){
    width: 425px;
}
th{
    text-align: left;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}
#Tabla4{
    width: 100%;
    background-color: #434343;
    height: 102px;
}
#Parrafo_tabla4{
    text-align: center;
    color: #FFFFFF;
}
a:link{
    text-decoration:none;
    color: #000000;
}
a:visited{
    text-decoration:none;
    color: #000000;
}
a:hover{
    text-decoration:none;
    color: #000000;
}
#contacto{
    background-color: #6EFECD;
    padding-left: 15px;
}
#casilla{
    width: 390px;
}
#casilla1{
    width: 390px;
    height: 80px;
}
#ubicacion{
    padding-left: 15px;
}
/* Formulario de Login */
.Formulario_Login{
    width: 400px;
	margin: 50px auto;
	background-color: #6EFECD;
    border: 1px solid #ECE8E8;
	border-radius:8px;
	padding: 9px 9px 9px 9px;
}

.Formulario_Login input{
    font-family: Arial;
    font-size: 18px;
	width: 300px;
	padding-left: 10px;
	display: block;
	margin: 0 auto;
    background-color: #E8E6E5;
}

.Formulario_Login button{
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
	padding: 10px;
    background-color: #2175bc;
	color: #fff;
	width: 300px;
	display: block;
	margin: 0 auto;
}
