nav table{
    height: 29px;
    float: right;
    position: relative;
    border-spacing: 10px 5px;
    font-family: Arial;
    font-size: 10;
}
header table{
    width: 100%;
}
header h1{
    top: 39px;
    display:block;
    text-align:center;
    position: relative;
    color: #0000FF;
}
.Contenido section table{
    position: relative;
    text-align:center;
    top:198px;
    left: 195px;
    width: 672px;
    height: 71px;
}
